<!-- Header -->
<section class="masthead d-flex">
  <div class="container text-center my-auto mx-auto">
    <h1 class="mb-1" style="color:white">Enter your name</h1>
    <h2 class="mb-5" style="color:white">
      <em>and find out geeky trivia about your name</em>
      <br>
    </h2>
    <div class="container">
        <fieldset>
            <form [formGroup]="form" (ngSubmit)="submit(form.value)">
                <input name="firstName" type="text" class="ghost-input" formControlName="firstName" placeholder="First name" required>
                <input name="lastName" type="text" class="ghost-input" formControlName="lastName" placeholder="Last name" required>
                <input type="submit" class="ghost-button" value="Submit">
            </form>
        </fieldset>   
    </div>
  </div>
  
  <div class="overlay container text-center my-auto mx-auto">
    <h2 class="mb-1 angular-with-newlines" style="color:white">{{ msg }}</h2>
  </div>
</section>





